<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.myapp.board.mapper.BoardMapper">

	<select id="list" resultType="com.hjh.myapp.board.vo.BoardVO">
		    SELECT 
		        no,
		        title,
		        writer,
		        write_date AS writeDate,
		        hit,
		        file_name AS fileName,
		        (select count(*) from board_reply br where br.no = board1.no) AS replyCnt
		    FROM board1
		    WHERE 1 = 1
		
		    <if test="word != null and word != ''">
		        <if test='key.contains("t")'>
		            AND title LIKE CONCAT('%', #{word}, '%')
		        </if>
		        <if test='key.contains("c")'>
		            AND content LIKE CONCAT('%', #{word}, '%')
		        </if>
		        <if test='key.contains("f")'>
		            AND file_name LIKE CONCAT('%', #{word}, '%')
		        </if>
		    </if>
		    
		    ORDER BY no DESC
		    LIMIT #{perPageNum} OFFSET #{limit}
	</select>
	
	<select id="getTotalRow" resultType="java.lang.Long">
		SELECT count(*)
		FROM board1
	
		WHERE 1 = 1

	    <if test="word != null and word != ''">
	        <if test='key.contains("t")'>
	            AND title LIKE CONCAT('%', #{word}, '%')
	        </if>
	        <if test='key.contains("c")'>
	            AND content LIKE CONCAT('%', #{word}, '%')
	        </if>
	        <if test='key.contains("f")'>
	            AND file_name LIKE CONCAT('%', #{word}, '%')
	        </if>
	    </if>
	</select>
	
	
	<update id="increase">
		update board1 set hit = hit + 1 where no = #{no}

	</update>
	
	<update id="imageChange">
		update board1 set file_name = #{fileName} where no = #{no}

	</update>
	
	<select id="view" resultType="com.hjh.myapp.board.vo.BoardVO">
		SELECT 
		        no,
		        title,
		        writer,
		        content,
		        write_date AS writeDate,
		        hit,
		        file_name AS fileName
	    FROM board1
	    WHERE no = #{no}

	</select>
	
	<insert id="write">
		insert into board1(title, content, writer, write_date, file_name)
		values (#{title}, #{content}, #{writer}, now(), #{fileName})
	</insert>
	
	<update id="update">
		update board1
		set 
			title = #{title},
			content = #{content},
			writer = #{writer}
		where no = #{no}
			
	</update>
	
	<delete id="delete">
		delete from board1
		where no = #{no}
	</delete>
	
</mapper>