<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.myapp.goods.mapper.GoodsMapper">

	<select id="list" resultType="com.hjh.myapp.goods.vo.GoodsVO">
		SELECT
		    g.goods_no,
		    g.goods_name,
		    p.price,
		    p.sale_price,
		    p.saved_rate,
		    p.discount,
		    p.discount_rate,
		    g.hit,
		    g.image_name
		FROM goods g
		LEFT JOIN price p
		    ON g.goods_no = p.goods_no
		    AND p.sale_startDate <![CDATA[ <= ]]> CURDATE()
		    AND CURDATE() <![CDATA[ <= ]]> p.sale_endDate
		WHERE
			1 = 1
			<include refid="search" />
		ORDER BY g.goods_no DESC
		LIMIT #{pageObject.limit}, #{pageObject.perPageNum}
	</select>
	
	<select id="getTotalRow" parameterType="com.hjh.myapp.util.page.PageObject" resultType="int">
	    SELECT COUNT(*)
	    FROM goods g
	    LEFT JOIN price p
		    ON g.goods_no = p.goods_no
		    AND p.sale_startDate <![CDATA[ <= ]]> CURDATE()
		    AND CURDATE() <![CDATA[ <= ]]> p.sale_endDate
	    WHERE 1 = 1
	    	<include refid="search" />
	    
	</select>
	
	<sql id="search">
		<if test="searchVO.exist">
			and (
			
				<trim prefixOverrides="and">
					<if test="searchVO.cate_code1 != null and searchVO.cate_code1 > 0">
						and cate_code1 = #{searchVO.cate_code1}
					</if>
					<if test="searchVO.cate_code2 != null and searchVO.cate_code2 > 0">
						and cate_code2 = #{searchVO.cate_code2}
					</if>
					<if test="searchVO.goods_name != null and searchVO.goods_name != ''">
						and goods_name like CONCAT('%', #{searchVO.goods_name}, '%')
					</if>
					<if test="searchVO.min != null and searchVO.min > 0">
						<![CDATA[ and sale_price >= #{searchVO.min} ]]>
					</if>
					<if test="searchVO.max != null and searchVO.max > 0">
						<![CDATA[ and sale_price <= #{searchVO.max} ]]>
					</if>
				</trim>
			)
		</if>
	</sql>
	
	<update id="increase">
		update goods
		set hit = hit + 1
		where no = #{no}
	</update>
	
	<insert id="view">
	    select 
	    	no,
	    	title,
	    	content,
	    	writer,
	    	write_date AS writeDate,
	    	hit
	    	
	    from goods
	    where no = #{no}
	</insert>
	
	<insert id="write"
	        parameterType="com.hjh.myapp.goods.vo.GoodsVO"
	        useGeneratedKeys="true"
	        keyProperty="goods_no">
	    INSERT INTO goods (
	        cate_code1,
	        cate_code2,
	        goods_name,
	        company,
	        product_date,
	        image_name,
	        detail_image_name,
	        content
	    )
	    VALUES (
	        #{cate_code1},
	        #{cate_code2},
	        #{goods_name},
	        #{company},
	        #{product_date},
	        #{image_name},
	        #{detail_image_name, jdbcType=VARCHAR},
	        #{content}
	    )
	</insert>
	
	<insert id="writeImage" parameterType="java.util.List">
	    INSERT INTO goods_image (goods_no, image_name)
	    VALUES
	    <foreach collection="list" item="vo" separator=",">
	        (#{vo.goods_no}, #{vo.image_name})
	    </foreach>
	</insert>
	
	<insert id="writeSizeColor">
	    INSERT INTO goods_sizeColor(goods_no, size_no, color_no)
	    SELECT goods_no, size_no, color_no from (
	        <foreach collection="list" item="vo" separator="UNION ALL">
	            SELECT
	                #{vo.goods_no} AS goods_no,
	                #{vo.size_no} AS size_no,
	                #{vo.color_no, jdbcType=INTEGER} AS color_no
	        </foreach>
	    ) t
	</insert>
	
	<insert id="writeOption">
	    INSERT INTO goods_option(goods_no, option_name)
	    SELECT goods_no, option_name from (
	        <foreach collection="list" item="vo" separator="UNION ALL">
	            SELECT
	                #{vo.goods_no} AS goods_no,
	                #{vo.option_name} AS option_name
	        </foreach>
	    ) t
	</insert>
	
	<insert id="writePrice">
	    INSERT INTO price(
	    		goods_no, 
	    		price, 
	    		sale_price,
	    		discount, 
	    		discount_rate, 
	    		delivery_charge, 
	    		saved_rate
	    		<if test="sale_startDate != null">
	    		,sale_startDate
	    		</if>
	    		<if test="sale_endDate != null">
	    		,sale_endDate
	    		</if>
	    	)
	    VALUES (
	        #{goods_no},
	        #{price},
	        #{sale_price, jdbcType=INTEGER},
	        #{discount, jdbcType=INTEGER},
	        #{discount_rate, jdbcType=INTEGER},
	        #{delivery_charge},
	        #{saved_rate}
	        <if test="sale_startDate != null">
			 ,#{sale_startDate}
			</if>
			<if test="sale_endDate != null">
			 ,#{sale_endDate}
			</if>
	    )
	</insert>
	
	<update id="update">
		UPDATE goods
		SET 
			title = #{title},
			content = #{content},
			writer = #{writer}
		WHERE no = #{no} and pw = #{pw}
		
	</update>
	
	<delete id="delete">
		DELETE from goods
		WHERE 
			no = #{no}
		AND
			pw = #{pw}

	</delete>
	
	<select id="getSize" resultType="com.hjh.myapp.goods.vo.SizeVO">
		SELECT
		    size_no,
		    cate_code1,
		    cate_code2,
		    size_name
		    
		FROM basic_size
		
		WHERE cate_code1 = #{cate_code1} 
		
		
	</select>
	
	<select id="getColor" resultType="com.hjh.myapp.goods.vo.ColorVO">
		SELECT
		    color_no,
		    cate_code1,
		    cate_code2,
		    color_name
		    
		FROM basic_color
		
		WHERE cate_code1 = #{cate_code1} 
		
		
	</select>
	
</mapper>